<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Conversations</title>
  {% load static chat_extras %}
  <link rel="stylesheet" href="{% static 'css/chat.css' %}">
<!--  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6"></script>-->
</head>
<body>

<div class="button-bar">
  <button id="logout-btn" class="button">Logout</button>
</div>

<div id="main-container">
  <h1>Choose a Startup to start conversation with:</h1>

<!--  {% load chat_extras %}-->
  <ul>
    {% for s in startups %}
    <li>
      {{ s.first_name }} {{ s.last_name }}
      {% with room_id=rooms|get_room_id:s.id %}
        {% if room_id %}
          <a class="button" href="{% url 'room' room_id %}">
            Continue conversation
          </a>
        {% else %}
          <a class="button" href="{% url 'start-conversation' s.id %}">
            Start conversation
          </a>
        {% endif %}
      {% endwith %}
    </li>
    {% empty %}
      <li>No startups available for conversation.</li>
    {% endfor %}
  </ul>
</div>

<script>
  document.getElementById("logout-btn")?.addEventListener("click", async () => {
  try {
    localStorage.removeItem("access");
    localStorage.removeItem("refresh");

    await fetch("/chat/?force_logout=1");

  } catch (err) {
    console.warn("Logout error:", err);
  } finally {
    window.location.href = "/chat/login/";
  }
});
</script>

</body>
</html>
